@font-face {
    font-family: 'Zapf Dingbats';
    src: url('ZapfDingbats.woff2') format('woff2'),
        url('ZapfDingbats.woff') format('woff'),
        url('ZapfDingbats.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

